@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    padding: 0;
    margin: 0;
}



#backimg{
    width: 100%;
    margin: 0;
    background-size: cover;
    background-image: url(bg3.jpg);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color:rgb(10, 10, 10);
    background-attachment: fixed;


    display: flex;
}





.details{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding: 40px;
margin-left: 15%;
width: 50%;
}


.photo{
    /* height: 300px;
    width: 300px; */
    padding-top: 10%;
    
    

}

.two{
    height: 250px;
    width: 250px;
    
    border: solid white;
    border-radius: 3px;
}

.xyz{
    
    display: flex;
    
}

.xyz button{
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    width: 130px;
    height: 30px;
    /* padding: 10px;
    margin: 10%; */
}